<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spielplan | LEV MV</title>
    <link rel="stylesheet" href="/css/game.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
  <header id="navbar">
    <nav class="navbar-container container">
      <a href="/" class="home-link">
        <div class="navbar-logo"><img src="/images/lev.png" height="90%" alt=""></div>
        LEV MV
      </a>
      <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="navbar-menu" aria-labelledby="navbar-toggle">
        <ul class="navbar-links">
          <!-- <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>">Startseite</a></li> -->
          <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>">Spielplan</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>/tabelle">Tabelle</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/<%= liga === 'u15' ? 'ostseeliga' : 'u15' %>"><%= liga == 'u15' ? 'Ostseeliga' : 'U13 / U15' %></a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div>
    <aside class="widget">
        <div class="-hd -hd-widget-parsed -hd-widget -hd-rd-mobile">
            <div class="-hd-los -hd-los-schedule">
                <div class="-hd-util-intellitable -hd-los-schedule-table">
                    <div class="-hd-util-intellitable-data">
                        <table>
                            <thead>
                                <tr>
                                    <th class="-hd-util-intellitable-date-value -hd-los-schedule-scheduled-date -hd-clickable"
                                        title="Geplantes Datum">Datum</th>
                                    <th class="-hd-util-intellitable-time-value -hd-los-schedule-scheduled-time -hd-clickable"
                                        title="Geplante Uhrzeit">Zeit</th>
                                    <th class="-hd-los-schedule-home-team-name -hd-los-schedule-team-name-long -hd-clickable"
                                        title="Heimteam">Heim</th>
                                    <th class="-hd-los-schedule-home-team-name -hd-los-schedule-team-name-short -hd-clickable"
                                        title="Heimteam">Heim</th>
                                    <th
                                        class="-hd-los-schedule-team-logo -hd-los-schedule-home-team-logo -hd-clickable">
                                        &nbsp;</th>
                                    <th
                                        class="-hd-los-schedule-home-team-score -hd-los-schedule-score -hd-util-intellitable-numeric-value -hd-clickable">
                                        &nbsp;</th>
                                    <th class="-hd-clickable">&nbsp;</th>
                                    <th
                                        class="-hd-los-schedule-away-team-score -hd-los-schedule-score -hd-util-intellitable-numeric-value -hd-clickable">
                                        &nbsp;</th>
                                    <th class="-hd-clickable">&nbsp;</th>
                                    <th
                                        class="-hd-los-schedule-team-logo -hd-los-schedule-home-team-logo -hd-clickable">
                                        &nbsp;</th>
                                    <th class="-hd-los-schedule-away-team-name -hd-los-schedule-team-name-short -hd-clickable"
                                        title="Gastteam">Gast</th>
                                    <th class="-hd-los-schedule-away-team-name -hd-los-schedule-team-name-long -hd-clickable"
                                        title="Gastteam">Gast</th>
                                    <th title="Ort" class="-hd-clickable">Ort</th>
                                    <th title="Zum Spiel" class="-hd-clickable"></th>
                                </tr>
                            </thead>
                            <tbody>
                              <% games.forEach(element => { %>
                                <tr class="-hd-los-schedule-row-8d36e21f-4898-41e5-aed0-6a6328eaca4e"
                                    id="row-">
                                    <td class="-hd-los-schedule-col-scheduledDate -hd-util-intellitable-date-value -hd-los-schedule-scheduled-date" value="<%= element.date %>"><%= element.date %></td>
                                    <td class="-hd-los-schedule-col-scheduledTime -hd-util-intellitable-time-value -hd-los-schedule-scheduled-time"
                                        value="<%= element.time %>"><%= element.time %></td>
                                    <td class="-hd-los-schedule-col-homeTeamLongname -hd-los-schedule-home-team-name -hd-los-schedule-team-name-long"
                                        value="<%= element.home.name %>"><%= element.home.name %></td>
                                    <td class="-hd-los-schedule-col-homeTeamShortname -hd-los-schedule-home-team-name -hd-los-schedule-team-name-short"
                                        value="<%= element.home.logo %>"><%= element.home.logo %></td>
                                    <td class="-hd-los-schedule-col-homeTeamLogo -hd-util-intellitable-inline-image -hd-los-schedule-team-logo -hd-los-schedule-home-team-logo"
                                        value="[object HTMLImageElement]"><img
                                            src="/images/tn_<%= element.home.logo %>.png">
                                    </td>
                                    <td class="-hd-los-schedule-col-homeTeamScore -hd-los-schedule-home-team-score -hd-los-schedule-score -hd-util-intellitable-numeric-value <%= element.live %>"
                                        value="<%= element.live == null ? '-' : element.goalsHome %>" style="text-align: center;"><%= element.live == null ? '-' : element.goalsHome %></td>
                                    <td class="-hd-los-schedule-col-scoreDivider -hd-los-schedule-score-divider <%= element.live %>"
                                        value=":" style="text-align: center;" id="<%= element.abgesagt %>Element">:</td>
                                    <td class="-hd-los-schedule-col-scoreDivider -hd-los-schedule-score-divider" value="[object Object]" style="text-align: center;" id="<%= element.abgesagt %>"><span class="-hd-los-schedule-state-extended-label -hd-los-schedule-state-extended-label-10" title="Absage/mit Neuaustragung">Absage / mit Neuaustragung</span></td>
                                    <td class="-hd-los-schedule-col-awayTeamScore -hd-los-schedule-away-team-score -hd-los-schedule-score -hd-util-intellitable-numeric-value <%= element.live %>"
                                        value="<%= element.live == null ? '-' : element.goalsAway %>" style="text-align: center;"><%= element.live == null ? '-' : element.goalsAway %></td>
                                    <td class="-hd-los-schedule-col-scoreInfo" value="&amp;nbsp;">&nbsp;</td>
                                    <td class="-hd-los-schedule-col-awayTeamLogo -hd-util-intellitable-inline-image -hd-los-schedule-team-logo -hd-los-schedule-away-team-logo"
                                        value="[object HTMLImageElement]"><img
                                            src="/images/tn_<%= element.away.logo %>.png">
                                    </td>
                                    <td class="-hd-los-schedule-col-awayTeamShortname -hd-los-schedule-away-team-name -hd-los-schedule-team-name-short"
                                        value="<%= element.away.logo %>"><%= element.away.logo %></td>
                                    <td class="-hd-los-schedule-col-awayTeamLongname -hd-los-schedule-away-team-name -hd-los-schedule-team-name-long"
                                        value="<%= element.away.name %>"><%= element.away.name %></td>
                                    <td class="-hd-los-schedule-col-locationLongname" value="<%= element.stadion %>">
                                      <%= element.stadion %></td>
                                    <td><a style="text-decoration: none; font-weight: bold;" href="/<%= liga %>/game/<%= element.id %>/<%= element.home.name %>/<%= element.away.name %>">Zum Spiel</a></td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        <div class="-hd-util-intellitable-overlay"></div>
                    </div>
                </div>
            </div>
        </div>

    </aside>

</div>
    <script src="/js/nav.js"></script>
</body>
</html>